.auth {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  font-size: 1.11vw;

  h3 {
    color: rgb(244, 52, 84);
    font-size: max(28px,2.1em);
  }

  label {
    font-size: max(18px,1.37em); 
  }

  input {
    font-size: max(1.1em,15px); 
    padding: 0.55em;
    margin: 0.55em 0 1.11em;
    width: 100%;
    border: 2px solid pink;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    border-color: transparent;
    font-size: max(1.5em,18px);
    text-transform: capitalize;

    letter-spacing: 1px;
    padding: 0.25em 0.58em;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: 4px;
    background-color: #c59d5f;
    color: #fff;
    margin: 0.58em 0;
    margin-left: auto;
    &:hover {
      border: 3px solid rgb(243, 243, 48);
    }
  }
  .error {
    background-color: #ffefef;
    border:1px solid rgb(151, 4, 4);
    color:rgb(151, 4, 4);
    border-radius: 4px;
    margin: 0.87em 0;
    padding: 0.6em;
    font-size: max(14px,1em);
  }

}

@media screen and (max-width: 500px) {
    .auth {
      padding: 0;
    }
  }


